{
  "presets": [
    ["@babel/env", {
      // "debug": true,
      "shippedProposals": true,
      "modules": false,
      "loose": true
    }],
    "@babel/stage-2"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/stage-2"]
    }
  }
}
